.container {
    height: 700px;
    width: 100%;
}

.container-box {
    height: 650px;
    width: 30%;
    border: 3px solid rgba(37,71,166, .5);
    float: left;
    margin-left: 30px;
}

.container-box.jpg {
    height: 300px;
    
}

.container-box p {
    text-align: left;
}
.container-box.jpg,.container-box audio, .container-box iframe {
    display: block;
    margin: auto;
    margin-top: 20px;
}

.about-header {
    background-color: orange;
    color: magenta;
    position: absolute;
    top: 150px;
    left: 44%;
}

.about-header h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    text-align: center;
}